$sprimary : #5ca09c ;
$slink : #ffffff;
$shoverlink: #d8d5cb;
body{
	font-family: 'Lato', sans-serif;
}
.w-10{
	width: 10% !important;
}
#header{
	background-color: $sprimary;
	.navbar-brand{
		
			max-width: 150px;
			img{
				width: 100%;
			}
	}
	ul{
		li{
			a{
				color: $slink;
				&:hover{
					text-decoration: none;
					color: $shoverlink;
					-webkit-transition: all 0.2s ease-out;
					-moz-transition: all 0.2s ease-out;
					-o-transition: all 0.2s ease-out;
					transition: all 0.2s ease-out;
				}
				&:focus{
					outline: 0;
				}
			}
		}
	}
	.search{
		// input[type="text"]{
		// 	width: 80%;
		// }
		width: 50%;
		button{
		    padding: 8px 8px;
		    margin: 0;
		    background-color: #ffffff;
		    border: none;
		    max-width: 34px;
			img{
				width: 100%
			}
			&:focus {
			    outline: 0;
			    border: 0;
			}
			&:hover{
				text-decoration: none;
				background-color: $shoverlink;
				-webkit-transition: all 0.2s ease-out;
				-moz-transition: all 0.2s ease-out;
				-o-transition: all 0.2s ease-out;
				transition: all 0.2s ease-out;
			}
		}
		input[type="text"] {
		    width: 80%;
		    box-sizing: border-box;
		    border: 2px solid #ccc;
		    border-radius: 4px;
			padding: 0;
			margin-right: -3px;
			border: none;
			border-radius: 0;
		    -webkit-transition: width 0.4s ease-in-out;
		    transition: width 0.4s ease-in-out;
			    &:focus {
			    width: 80%;
			    outline: 0;
			    border: 0;
			}
		}
	}
	
}
.slider{
	height: calc(100vh - 76px);
	.carousel{
		height: 100%;
		.carousel-inner{
			height: 100%;
			.carousel-item{
				height: 100%;
				img{
					height: 100%;
					object-fit: cover;
				}
			}
		}	
	}	
}
.option-details{
  input[type="radio"], input[type="checkbox"]{
    display: none;
  }
  .option-info{
    position: relative;
    .check-box{
      position: absolute;
      left: 0;
      top: 0;
      // background-color: $primary;
      // border-color: $primary;
      border-color: #e2e2e2;
      width: 18px;
      height: 18px;
      display: inline-block;
      border: 1px solid #d7d7d7;

    }
    .option-title{
      margin-left: 22px;
    }
  }
	  input[type="checkbox"]:checked+label>span, input[type="checkbox"]:checked+label .check-box{
	    content: '';
	    opacity: 1;
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 18px;
	    height: 18px;
	    border: 1px solid #004991;
	    background: url('../src/assets/images/tick.png') center no-repeat;
	    background-size: 10px;
	  }
  }
.main-option-details {
	    margin: 0 20px;
  input[type="radio"], input[type="checkbox"]{
    display: none;
  }
  label{

  	margin-bottom: 0;
  }
  .option-info{
    position: relative;
    .check-box{
		position: absolute;
		left: 0;
		top: 0;
		// background-color: $primary;
		// border-color: $primary;
		border-color: #e2e2e2;
		display: inline-block;
		border: 1px solid #d7d7d7;
		width: 100%;
		color: #ffffff;
		height: 100%;
    }
	    .option-title{
	      // margin-left: 22px;
	      padding: 3px 10px 0;
	      color: #ffffff;
	    }
	  }
	  input[type="radio"]:checked+label>span, input[type="radio"]:checked+label .check-box{
	    content: '';
	    opacity: 1;
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    color: #ffffff;
	    height: 100%;
	    // background-color: #000000;
	    border: 1px solid #000000;
	  }
	   input[type="radio"]:checked+label .option-title{
	   	 color: #000000;
	   }
  }

  .dimension, .color{
  	.main-option-details{
		display: inline-flex;
		margin: 5px;
  		 .option-title{
	      // margin-left: 22px;
	      padding: 3px 10px 0;
	      color: #000000;
	    }

  	}
  }
  .searchreasult{
  	label+button{
		background: transparent;
		color: #000000;
		border: none;
		box-shadow:none;
		&:hover, &:focus, &:active{
			background: transparent;
			color: #808080 !important;
			outline: 0;
			box-shadow:none !important;
		}
  	}
  	img{
  		object-fit: contain;
  	}
  }
.show-images{
		.btn-secondary{
			color:#000000;
			background-color:transparent;
			border: transparent;
			&:hover, &:focus, &:active{
				background: transparent;
				color: #000000 !important;
				outline: 0;
				box-shadow:none !important;
				}
		}
	}